@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid rgb(255, 200, 0);
    font-family: 'Poppins', sans-serif;
}

th, td {
    border: 1px solid rgb(255, 200, 0);
    padding: 20px;
    column-width: 200px;
}

th:nth-of-type(2n) {
    background: rgb(210, 164, 0);
}

.header {
    text-align: center;
    background: rgb(255, 200, 0);
}

.data {
    color: white;
    background: rgb(73, 0, 128);
}